body {
    font-family: Arial, sans-serif;
}

.fila {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.caja {
    background-color: #ffafcc;
    width: 80px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
